/* HEADLINE POST UPDATE CSS */
#news { background:#eaeaea; border-bottom: 2px solid #4e00e1; border-top: 2px solid #ff0000; display: block; float: left; height: 23px; line-height: 18px; overflow: hidden; padding: 5px 0 0 0px; width: 100%; }
.titlenews {color: #ff0000; display: block; float: left; font: bold 14px/24px Ubuntu; padding: 6px 0 0 10px;margin: -9px 0 0 0; position: absolute; }
#ltsposts {float: left;margin: -3px 0px 0px 130px;text-align: left;}
#ltsposts ul,#ltsposts li{list-style:none;margin: 0.49px;padding:0;}
#ltsposts li a { background: none !important; color:#1c1c1c !important; font: bold 14px/24px Ubuntu; text-decoration: none; }
ul.shsocial { background:#333; float: right; margin: -8px 0; }
ul.shsocial li {float:left;list-style: none outside none;border:none;}
ul.shsocial li a{background-color:transparent;background-image:url(http://4.bp.blogspot.com/-Pe-J5S7YCa0/UdXsJoN7GLI/AAAAAAAAL68/ongZAtcNF1E/s1600/spice-social-gadget-sprite.png);background-repeat:no-repeat;background-size:auto 96px;border:0 none;color:white;direction:ltr;display:block; height:32px;overflow:hidden;text-align:left;text-decoration:none;text-indent:-999em;transition:all 0.2s ease 0s;width:32px}
ul.shsocial li.fb a{ background-position:0 0}
ul.shsocial li.gp a{ background-position:-96px 0}
ul.shsocial li.rs a{ background-position:-192px 0}
ul.shsocial li.tw a{ background-position:-256px 0}
ul.shsocial li.fb a:hover{ background-position:0 -32px}
ul.shsocial li.gp a:hover{ background-position:-96px -32px}
ul.shsocial li.rs a:hover{ background-position:-192px -32px}
ul.shsocial li.tw a:hover{ background-position:-256px -32px}
